.compas {
    position: relative;
    z-index: 1;
}

.compasBody {
    position: relative;
}

.compasCircle {
    transform: rotate(0deg);
    transform-origin: 101.5px 63px;
}

.fullScale {
    animation: scalledSpin 1.5s ease-in-out;
}

.compasArrow {
    position: absolute;
    bottom: 68px;
    left: 66px;
    transform: rotate(0deg);
    transform-origin: 35.5px 155px;
}

.fullRotation {
    animation: spinAndStop 1.5s ease-in-out;
}

.compasLetter {
    position: absolute;
    bottom: 280px;
    left: 84px;
    z-index: 10;
    width: 30px;
    height: 20px;
}

.compasLetterSvg {
    animation: draw 1.5s ease forwards;
}

@keyframes spinAndStop {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(720deg);
    }
}

@keyframes scalledSpin {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-720deg);
    }
}

@keyframes draw {
    from {
        stroke-dashoffset: 58;
    }
    to {
        stroke-dashoffset: 0;
    }
}