.compas {
    position: relative;
    width: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.compasBody {
    position: relative;
    border: 1px solid red;
}

.compasArrow {
    position: absolute;
    bottom: 103px;
    left: 90px;
    transform: rotate(0deg);
    transform-origin:  55px 228px;
}

.fullRotation {
    animation: spinAndStop 1.5s ease-in-out;
}

@keyframes spinAndStop {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1080deg);
    }
}

.compasLetter {
    position: absolute;
    bottom: 390px;
    left: 128px;
    z-index: 10;
    width: 30px;
    height: 20px;
}

.compasLetterSvg {
    animation: draw 1.5s ease forwards;
}

@keyframes draw {
    from {
        stroke-dashoffset: 58;
    }
    to {
        stroke-dashoffset: 0;
    }
}