.footsteps {
    display: flex;
}

.footstepsContainer {
    display: flex;
    align-items: center;
    width: 20px;
    transform: rotate(90deg);
    height: 20px;
}
.footstepsLeft {
    margin-right: -15px;
}
.footstepsLeft,
.footstepsRight {
    opacity: 0;
    animation: fadeInOut infinite ease-in-out forwards;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    10%, 25% { opacity: 1; }
    40% { opacity: 0; }
}