.tableItemsMain {
    position: relative;
    z-index: 1;
}

.tableItems0 {
    position: relative;
    border-radius: 10px;
    min-height: 50px;
    max-width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 5rem;
    background-color: #F3D1A6;

    & > p {
        margin: 0;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
        background-color: #F3D1A6;
        z-index: 1;
        height: 100%;
        width: 100%;
        padding: .5rem;
        border-radius: 10px;
        border: 2px solid #f3d1a6;
        min-width: 130px;
        min-height: 25px;
    }
}

.tableItems0Counter {
    position: absolute;
    top: -35px;
    left: 100px;
    font-size: 1.3rem;
    font-weight: bold;
}

.tableItems0Steps {
    position: absolute;
    top: -25px;
    left: 10px;
    transform: rotate(90deg);
}

.tableItems1Counter {
    position: absolute;
    top: -35px;
    left: 100px;
}

.tableItems1Steps {
    position: absolute;
    top: 15px;
    left: -50px;
    transform: rotate(90deg);
}

.tableItems1Counter::after {
    content: "↓";
    position: absolute;
    right: 25px;
    top: 10px;
    transform: translateY(-50%);
    color:green;
    font-size: 20px;
}


.tableItems1CounterDown {
    position: absolute;
    bottom: -28px;
    right: 100px;
    font-size: 1.3rem;
    font-weight: bold;
}

.tableItems1CounterDown::after {
    content: "↓";
    position: absolute;
    right: -15px;
    top: 10px;
    transform: translateY(-50%);
    color:red;
    font-size: 20px;
}

.progressBar {
    width: 100%;
    height: 5px;
    background-color: #e0e0e0;
    margin-bottom: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.progressBarFill {
    height: 100%;
    background-color: #856133;
    width: 0;
    transition: width 0.1s linear;
}

.tableItemName {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;

    height: max-content;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.tableItems0Counter,
.tableItems1Counter,
.tableItems1CounterDown {
    max-width: 150px;

    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: -1px;
    text-transform: uppercase;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    z-index: 2;
}