.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerMap {
    display: flex;
}

.containerMapRoom {
    display: flex;
    flex-direction: column;
}