.title {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    border: 5px dashed black;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.containerMap {
    display: flex;
}

.containerMapRoom {
    display: flex;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
